PORT=3000
CLIENT_ID=oauth-poc-client
REDIRECT_URI=http://localhost:3000/callback
AUTHORIZATION_ENDPOINT=http://127.0.0.1:8080/realms/oauth-poc/protocol/openid-connect/auth
TOKEN_ENDPOINT=http://127.0.0.1:8080/realms/oauth-poc/protocol/openid-connect/token
USERINFO_ENDPOINT=http://127.0.0.1:8080/realms/oauth-poc/protocol/openid-connect/userinfo
JWKS_URI=http://127.0.0.1:8080/realms/oauth-poc/protocol/openid-connect/certs
