CLIENT_ID=oauth-basic-client
CLIENT_SECRET=your_client_secret
REDIRECT_URI=http://localhost:3000/callback
AUTHORIZATION_ENDPOINT=http://127.0.0.1:8080/realms/oauth-poc/protocol/openid-connect/auth
TOKEN_ENDPOINT=http://127.0.0.1:8080/realms/oauth-poc/protocol/openid-connect/token
USERINFO_ENDPOINT=http://127.0.0.1:8080/realms/oauth-poc/protocol/openid-connect/userinfo
PORT=3000
